{% extends 'base.html.twig' %}

{% block title %}
Ajouter une personne
{% endblock %}

{% block body %}
	<h1>Ajouter une Personne</h1>
    {{ form_start(formPersonne)}}
    {# <form action=".." method=".."> #}

    {# afficher ts les champs input #}
    {{ form_widget(formPersonne)}}

    <button type="submit">Ajouter</button>

    {{ form_end(formPersonne)}}
     {# </form> #}
{% endblock %}
